<div class="jumbotron">

	<center>
		<h1>Welcome to Lorraine's Donut Shop!</h1>

		<img src="http://static.comicvine.com/uploads/scale_large/11114/111144184/4791506-4593823993-37598.jpg">
		<br>

		<%= link_to "Check out our Donuts!", donuts_path, class: "btn btn-default" %>
	</center>
</div>

<p>Testing</p>